<div>
  <input type="text" [(ngModel)]="Mobile">
  <button (click)= "mobileAdd()">Add</button>
  <h2>This is Heading...</h2>
</div>
<app-demo [Mobile]="mlist">
  <h3>{{wish}}</h3>
</app-demo>
<button (click)="increment()">Increament</button>
<h2>{{i}}</h2>



















<!-- Life Cycle Hook ONINIT -->
<!-- <div>
    <h2>This is Parent Component</h2>
    <input type="text" [(ngModel)]="wish">
    <app-demo [cdata]="wish" [Oninit]="HookOnIn"></app-demo>
    <app-demo []></app-demo>
</div> -->





<!-- <div>
  <label>DOB:</label>
  <input type="date"  (blur)=calculateAge() #dobInput >
</div><br>
<div>
  <label>Age:</label>
  <input type="text" #ageInput >
</div> 
<div><br>
  <app-demo></app-demo>
  {{ DemoClass.sayHello() }} -->
<!-- </div> -->








<!-- <div>
  <app-demo></app-demo>
  <button (click)="test()">click</button>
</div>
 -->


<!-- <div>
  <app-demo></app-demo>
  <app-customer-list #customer></app-customer-list>
  <p>You have selected {{customer.selectedCustomer?.name}}</p>
</div> -->


<!-- 
<div>
  <input type="email" placeholder="enter your email" value="sreeja@gmail.com" #e>
  <button (click)="enterEmail(e)">update</button>
</div>
<div>
  <h3>{{e.value}}</h3>
</div>
<div>
  
  <h3>{{email}}</h3>
</div> -->